.vien {
border-left:6px dotted #309C2D;
}
a {
font-family: Courier New;text-decoration:none;color:#309C2D;
font-weight:bold;font-size:15px;
}
a:hover {
text-decoration:underline;
}
body {
    SCROLLBAR-FACE-COLOR: #306932;
    SCROLLBAR-ARROW-COLOR: #002F00;
    SCROLLBAR-TRACK-COLOR: #FFFFFF;
    font-size: 24px;
    color: #56642F;
}
.tieude {
font-family:Arial, Helvetica, sans-serif;
font-size:30px;color:#000000;font-weight:bold; }
.noidung {
    font-family: tahoma;
    font-size: 24px;
    color: #000000;
}
.nen{
background-image:url(../Bai%202.2%20-%20Hoacanh/images/nen.gif); background-repeat:repeat-x;
}
.bienphai {
border-right:4px solid #356736;
}
